---
import ThemeLayout from '../layouts/ThemeLayout.astro';
---
<ThemeLayout page="about" heading="About Us">

  <section class="inner-page pt-4">
    <div class="container" data-aos="fade-up">
      <div class="row justify-content-center align-items-center">
        <div class="col-md-5 col-lg-4">
          <img src="images/ipad.png" alt="About Rayinfos Technologies" class="img-fluid" style="height:auto;width:100%;" data-aos="zoom-in" data-aos-delay="100">
        </div>
        <div class="col-md-7 col-lg-6">
          <h3>As a complete web development company from start to finish</h3>
          <p>In recent years our focus has been on Web 2.0 browser applications and social networking websites. Our focus is to not create sites that are already available, but to add new and unique features that can set them apart from the crowd.</p>
        </div>
      </div>
    </div>
  </section>

  <section id="get-started" class="padd-section text-center">
    <div class="container">
      <div class="row">

        <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="100">
          <div class="feature-block">
            <img src="assets/img/svg/code.svg" alt="img" class="img-fluid">
            <h4>System Architecture</h4>
            <p>API &amp; Web Services Design, Web standards Compliant, .Net, PHP, Rich-Web, Flex/Flash, AJAX, Javascript, CSS, XHTML, Mysql, SQL and XML.</p>
            <a href="custom-website.html">read more</a>
          </div>
        </div>

        <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="150">
          <div class="feature-block">
            <img src="assets/img/svg/paint-palette.svg" alt="img" class="img-fluid">
            <h4>Design</h4>
            <p>Visual &amp; Interaction Design, Information Architecture, Wireframes / Comps, User experience Design, Prototyping and Development.</p>
            <a href="professional-website.html">read more</a>
          </div>
        </div>

        <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="200">
          <div class="feature-block">
            <img src="assets/img/svg/design-tool.svg" alt="img" class="img-fluid">
            <h4>Webmaster Services</h4>
            <p>Site updates and Blog setup, keeping your website fresh, secure and up to date.</p>
            <a href="cms.html">read more</a>
          </div>
        </div>

        <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="250">
          <div class="feature-block">
            <img src="assets/img/svg/planet.svg" alt="img" class="img-fluid">
            <h4>Strategy</h4>
            <p>Engagement &amp; Communication, Requirements Gathering, Identification of Goals, Project Definition &amp; Plan, Product Roadmap and Milestone Definition.</p>
            <a href="services.html">read more</a>
          </div>
        </div>

        <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="300">
          <div class="feature-block">
            <img src="assets/img/svg/cloud.svg" alt="img" class="img-fluid">
            <h4>Marketing</h4>
            <p>SEO and Email Marketing that put your business in front of the right audience.</p>
            <a href="seo.html">read more</a>
          </div>
        </div>

        <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="350">
          <div class="feature-block">
            <img src="assets/img/svg/vector.svg" alt="img" class="img-fluid">
            <h4>QA Testing</h4>
            <p>Usability, Security and Functionality testing for a dependable end product.</p>
            <a href="test-automation.html">read more</a>
          </div>
        </div>

      </div>
    </div>
  </section>

</ThemeLayout>
